*{margin:0; padding:0; box-sizing: border-box;}
body{width :420px; height:740px}
#root1 {
  width:100%;
  height:10%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left:2vw;
  padding-right:2vw;
}
#root1>h1{
  font-size: 6vw;
  font-family: fantasy;
}
.hamburger-button{
  width:10vw;
  height:5vh;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center center;
}
#root2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: none; /* 초기에 숨김 */
  position:fixed;
  z-index: 999;
  background-color: #fff;
  left : 70vw;
  top : 8vh;
}
.menu>ul>li{
  display:flex;
  justify-content: center;
  align-items: center;
  width:25vw;
  height:5vh;
  list-style: none;
  border: solid 1px black;
}
a{
  text-decoration: none;
  color : black;
}
.menu.open {
  display: block;
}
.hamburger-button{
cursor: pointer;
}

#load {
display:none
}

